<odoo>
	<data>
		<!-- Top menu item -->

		<menuitem name="Expedientes" id="az_expedients.menu_root"/>

		<!-- menu categories -->

		<menuitem name="Expedientes" id="az_expedients.expedient_menu_1_list" 
			parent="az_expedients.menu_root"
			action="az_expedients.expedient_action_window"
			sequence="1"
		/>

		<menuitem name="Documentos" id="az_expedients.document_menu_2_list" 
			parent="az_expedients.menu_root"
			action="az_expedients.documentos_action_window"
			sequence="2"
		/>

		<menuitem name="Tareas" id="az_expedients.task_menu_1_list" 
			parent="az_expedients.menu_root"
			action="az_expedients.task_action_window"
			sequence="3"
		/>

		<menuitem name="Configuración" id="az_expedients.expedient_menu_1" 
			parent="az_expedients.menu_root"
			sequence="4"
		/>

		<!-- actions -->

		<menuitem name="Estados expediente" id="az_expedients.state_menu_1_list" 
			parent="az_expedients.expedient_menu_1"
			action="az_expedients.state_action_window"
			sequence="1"
		/>

		<menuitem name="Estados tarea" id="az_expedients.statetask_menu_1_list" 
			parent="az_expedients.expedient_menu_1"
			action="az_expedients.statetask_action_window"
			sequence="2"
		/>

		<menuitem name="Tipos expediente" id="az_expedients.etype_menu_1_list" 
			parent="az_expedients.expedient_menu_1"
			action="az_expedients.etype_action_window"
			sequence="3"
		/>

		<menuitem name="Etiquetas" id="az_expedients.tag_menu_1_list" 
			parent="az_expedients.expedient_menu_1"
			action="az_expedients.tag_action_window"
			sequence="4"
		/>

		

	</data>
</odoo>